## Ejercicio 1

In [215]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [216]:
text.split(". ")

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [217]:
for t in text.split(". "):
    print(t)

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [218]:
palabras_clave = ["average", "drift", "temperature", "distance"]

In [219]:
print(palabras_clave)

['average', 'drift', 'temperature', 'distance']

In [220]:
for sentence in text.split("."):
    for palabra in palabras_clave:
        if palabra in sentence:
            print(sentence)

On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 C

In [221]:
for sentence in text.split("."):
    for palabra in palabras_clave:
        if palabra in sentence:
            print(sentence.replace('C', 'Celcius'))

On average, the Moon moves 4cm away from the Earth every year
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 Celcius

## Ejercicio 2

In [222]:
planeta = 'Tierra'
gravedad = 0.00162 # in kms
nombre = 'Luna'

In [223]:
text = f'Datos sobre la gravedad en la Tierra como en la {nombre}'
text = text.title()
print(text.title())

Datos Sobre La Gravedad En La Tierra Como En La Luna

In [224]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2"""

In [225]:
template = f"""{text.title()}
{hechos} """ 
print(text.title())
print(hechos)

Datos Sobre La Gravedad En La Tierra Como En La Luna
--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [226]:
planeta = ' Marte '
gravedad  = 0.00143
nombre = ' Ganímedes '

In [227]:
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Tierra
Gravedad en Luna: 1.6199999999999999 m/s2

In [228]:
new_template = """
Datos de Gravedad sobre: {nombre}

Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2 """ 
 
 

print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))
gravedad  * 1000

Datos de Gravedad sobre:  Ganímedes

Nombre del planeta:  Marte
Gravedad en  Ganímedes : 0.00143 m/s2

1.4300000000000002